

    .opaque-navbar {
        background-color: rgba(0,0,0,0.4);
        /* Transparent = rgba(0,0,0,0.5) / Translucent = (0,0,0,0.5)  */
        border-bottom: 0px;
        
    }

     .navbar-toggle {
      background-color: rgba(0,0,0,0.075);
      }  
    .navbar-inverse .navbar-brand {
          font-size: 35px;
          font-family: Alkanz;
          direction: rtl;
         color: #ffffff;
         padding-top: 5px;
    }

  .navbar-inverse .navbar-brand:hover,
  .navbar-inverse .navbar-brand:focus {
    direction: rtl;
    font-family: Alkanz;
    color: #F5DEB3;
    background-color: transparent;

   } 


   .navbar-inverse .navbar-nav > li > a {
        font-size: 20px;
        font-family: sans-serif;
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
      font-family: sans-serif;
      color: #F5DEB3;
      background-color: transparent;
    }


      @font-face { font-family: Alkanz; src: url('Alkanz.ttf'); } 

      